.question-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.question-player .instruction {
  font-size: 15px;
  color: #475569;
  line-height: 1.6;
  margin: 0;
}
