@import "tailwindcss";
@plugin "daisyui";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 64px; /* navbar height */
}


body {
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}
